<footer class="footer bg-light p-5">
    <div class="d-flex justify-content-between px-5">
      <div class="d-flex flex-column">
        <h2 class="mb-4 lh-lg fs-2">EarthBeats</h2>
        <h5 class="mb-4 lh-base fs-4">Your trusted global news source since 2024!</h5>
        <span class="mb-4 lh-sm fs-5">Copyright © 2024 EarthBeats</span>
      </div>
      
      <div class="footer-info">
        <ul class="list-unstyled">
          <li class="mb-3"><a routerLink="" class="text-decoration-none fs-5 text-black-50 hover-black">Home</a></li>
          <li class="mb-3"><a routerLink="/news" class="text-decoration-none  fs-5 text-black-50 hover-black">Popular News</a></li>
          <li class="mb-3"><a routerLink="/search" class="text-decoration-none  fs-5 text-black-50 hover-black">Search</a></li>
          <li class="mb-3"><a routerLink="/map" class="text-decoration-none  fs-5 text-black-50 hover-black">Map</a></li>
        </ul>
      </div>
    </div>
  </footer>