.title{
  margin: 5%;
  line-height: 4rem;
  font-size: 2.5rem;
  width: 10rem;
  height: 5rem;
  font-family: 'Poppins', sans-serif;
}

.img-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-group{
  margin-top: 5rem;
  margin-left: 21.5%;
  margin-bottom: 10rem;
}

.input-group-text{
  padding: 1.3rem 1.3rem;
}

.search-btn{
  margin-left: 2rem;
  border-radius: 1rem;
  padding: 1rem;
  font-weight: 700;
}

/* News Cards*/

/* News Container Styles */

.news-container {
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news-card {
  display: flex;
  width: 100%;
  min-width: 20rem;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.card-img {
  width: 100%; 
  height: auto;
  min-height: 365px; 
  max-width: 500px;
}


.card-content {
  flex: 1; 
  padding: 2rem;
}

.card-content h4 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold; 
  color: #333;
}

.card-content p {
  margin-bottom: 10px;
  font-size: 1.5rem;
  margin-top: 2.5rem;
  color: #666;
}

.d-flex {
  display: flex;
  align-items: center;
}

.trend-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}