<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<main>
  <p class="title fw-bolder">EXPLORE WORLD</p>
  <div class="img-container">
    <img src="./assets/search/test-world.png" alt="">
  </div>

  <div class="input-group w-50">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">
        <!-- Insert the SVG code here -->
        <img src="./assets/search/icon.svg" alt="">
      </span>
    </div>
    <!-- Use template reference variable (#countryInput) to capture input value -->
    <input #countryInput type="text" class="form-control" placeholder="Search by country or keyword" aria-label="Search" aria-describedby="basic-addon1">
    <div class="input-group-append">
      <!-- Call getNews() method with input value when the button is clicked -->
      <button class="search-btn btn btn-primary w-100" (click)="getNews(countryInput.value)" type="submit">Search</button>
    </div>
  </div>

  <!-- Container for news articles -->
  <div class="news-container">
    <hr>
    <p class="news-title h1 mt-5">Latest News</p>
    <hr>
    <!-- Loop over newsData array and display each news item -->
    <div class="news-card mt-5" *ngFor="let newsItem of newsData">
      <div class="card-img">
        <!-- Use newsItem.newsImageUrl if available -->
        <img class="img-size" src="{{ newsItem.newsImageUrl ? newsItem.newsImageUrl : 'assets/search/sample-1.png' }}" alt="Image">
      </div>
      <div class="card-content">
        <h4>{{ newsItem.newsTitle }}</h4>
        <p class="text-black-50">{{ newsItem.newsContent }}</p>
        <div class="d-flex mt-4">
          <img class="trend-icon" src="./assets/search/trend-icon.svg" alt="">
          <h5>{{ newsItem.newsPopularityType }}</h5>
        </div>
      </div>
    </div>
  </div>
</main>
