<main>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

<app-navbar></app-navbar>

<div class="intro-container">

  <div class="intro-first">
    <div class="slogan">
      <span>Discover the</span>
      <span> global<br> news </span>
      <span>through</span>
      <span> <br> WorldBeats <hr></span>

      <div class="text-black-50">
        <p class="bottom-text">Stay informed with WorldBeats</p>
        <div class="bottom-buttons">
          <button type="button" class="btn btn-primary" (click)="navigateTo('search')">Get Started</button>
          <button type="button" class="btn p-3 ms-5 border border-2" (click)="navigateTo('map')">Learn more</button>

        </div>
      </div>
    </div>
  </div>

  <div class="intro-img">
    <img src="assets/landing/landing1.png" alt="">
  </div>
  
</div>

<hr>



<div class="second-container">

  <div class="second-img">
    <img src="assets/landing/smart-search.png" alt="">
  </div>

  <div class="second-content">
    <h6>Smartsearch</h6>
    <p class="mt-5">Find news from any part of the world</p>
    <hr>

    <div class="second-info">
    <p class="informative-text text-black-50 mt-4">Our advanced platform allow you to search and explore news articles from any
      country or by any keyword. Stay updated with the latest happenings around the world.</p>
    </div>

    <button type="button" class="btn p-3 border border-2" (click)="navigateTo('map')">Try now</button>
  </div>

</div>


<div class="hr-margin"><hr></div>




<div class="third-container">

  <div class="second-content">
    <h6>Newsreader</h6>
    <p class="mt-5">Get current news in a smart way</p>
    <hr>

    <div>
    <p class="informative-text text-black-50 mt-4">This platform allow you to search and explore news articles from any
      country or by any keyword. Stay updated with the latest happenings around the world.</p>
    </div>

    <button type="button" class="btn p-3 border border-2" (click)="navigateTo('search')">Try now</button>
  </div>

  <div class="second-img">
    <img src="assets/landing/smart-way.png" alt="">
  </div>

</div>


<hr>



<div class="container">
  <div class="last-content">
    <p>Get started with EarthBeats</p>
    <p class="bottom-info text-black-50">
      Stay informed with the lastest news.
    </p>
    <button type="button" class="btn btn-primary mt-5 p-3 w-50"><a href="register" class="text-white text-decoration-none">Sign up now</a></button>
  </div>

  <div class="bottom-img">
    <img src="assets/landing/sign-up.png" alt="">
  </div>

</div>

</main>
<router-outlet></router-outlet>

<app-footer></app-footer>









