<main>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">

<div class="main-container">
 

<div class="left-container">
  <img src="./assets/auth/sample.png" alt="">
</div>
    
    <div class="right-container bg-light">
       
        <div class="login-text">
           <p class="text-secondary"> <span class="special-text text-secondary h2 fs-5">Login</span> to your account to manage your account services 
            <br> and staying updated on current news.</p>
        </div>

        <div class="form">
            <form>
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg w-100" id="exampleInputPassword1" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-secondary mt-5">Proceed</button>
              </form>
        </div>
    </div>

    <img class="test-img" src="./assets/auth/test-photo.png" alt="">
    
    
</div>
</main>
