<main>

<app-navbar></app-navbar>

<div class="main">
    <img src="./assets/news/test_background.jpg" alt="">
    <div class="main-container">
        <div class="left-container">
            <div class="news-item" style="grid-area: row1;" (click)="navigateToNewsDetail(14)">
                <img src="https://static01.nyt.com/images/2024/02/19/multimedia/19dc-houthisdrone-pjbv/19dc-houthisdrone-pjbv-videoSixteenByNine3000.jpg" class="img-background" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text">The New York Times</div>
                    <div class="centered-text fw-medium">Houthis Say They Shot Down a U.S. Drone Off Yemen</div>
                </div>
            </div>
            <div class="news-item" style="grid-area: row2col1;" (click)="navigateToNewsDetail(88)">
                <img src="https://static01.nyt.com/images/2024/02/20/multimedia/20dc-ukraine-pows-01-kpfj/20dc-ukraine-pows-01-kpfj-videoSixteenByNine3000.jpg" alt="">
                <div class="image-text-overlay mb-5">
                    <div class="provider-text-small fs-5">BBC News</div>
                    <div class="centered-text-small fs-6 fw-medium">Hundreds of Ukrainian Troops Feared Captured or Missing in Chaotic Retreat</div>
                </div>
            </div>
            <div class="news-item" style="grid-area: row2col2;" (click)="navigateToNewsDetail(4)">
                <img src="https://i.guim.co.uk/img/media/86abbf0e622d9b0780c1fb1f749f9683f37dcaaa/0_293_6000_3600/master/6000.jpg?width=1200&quality=85&auto=format&fit=max&s=a52f0d57a1bf84e5e570d2e95721618a" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small fs-5">BBC News</div>
                    <div class="centered-text-small fs-6 fw-medium">Huge cybersecurity leak lifts lid on world of China’s hackers for hire</div>
                </div>
            </div>
            <div class="news-item" style="grid-area: row3;" (click)="navigateToNewsDetail(34)">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBucG335WM41TzKcNI_qA8daQetGx1iAwiVYZoHvKGlQ&s" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text">The New York Times</div>
                    <div class="centered-text fw-medium">German Lawmakers Move Closer to Legalizing Marijuana</div>
                </div>
            </div>
        </div>

        <div class="right-container">
            <div class="image-container" style="grid-area: row1col1;" (click)="navigateToNewsDetail(54)">
                <img src="https://ichef.bbci.co.uk/ace/ws/640/cpsprodpb/29EC/production/_132623701_c0727776253c35902b2b91b114380f2784a25fd60_362_6000_33756000x3375.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">New York Times</div>
                    <div class="centered-text-normal fw-medium">Spain: Eight arrests after two officers die in 'narco-boat' chase</div>
                </div>
            </div>
            <div class="image-container" style="grid-area: row1col2;" (click)="navigateToNewsDetail(49)">
                <img src="https://www.commonspace.eu/sites/default/files/2024-01/ITaly%20Fascist%20salute%20070124.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">New York Times</div>
                    <div class="centered-text-normal fw-medium">Italian fascist salute images spark political uproar</div>
                </div>
            </div>
            <div class="image-container" style="grid-area: row2;" (click)="navigateToNewsDetail(99)">
                <img src="https://static01.nyt.com/images/2024/02/26/multimedia/26mideast-crisis-lebanon-strikes-zhgm/26mideast-crisis-lebanon-strikes-zhgm-videoSixteenByNine3000.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text">BBC News</div>
                    <div class="centered-text fw-medium">Israel Launches Its Deepest Airstrikes in Lebanon in Years</div>
                </div>
            </div>
            
            <div class="image-container" style="grid-area: row3col1;" (click)="navigateToNewsDetail(74)">
                <img src="https://static01.nyt.com/images/2024/02/23/multimedia/23hungary-nato-cwfp/23hungary-nato-cwfp-superJumbo.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">New York Times</div>
                    <div class="centered-text-small fw-medium">Orban Gives Green Light to Sweden’s NATO</div>
                </div>
            </div>
            <div class="image-container" style="grid-area: row3col2;" (click)="navigateToNewsDetail(22)">
                <img src="https://www.arabnews.pk/sites/default/files/styles/n_670_395/public/2023/05/22/3829041-249301101.jpg?itok=LcaJALm8" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">New York Times</div>
                    <div class="centered-text-small fw-medium">Brazil's Lula sacks deputy intelligence chief amid spying probe</div>
                </div>
            </div>
        </div>

    </div>
</div>

<app-footer/>

</main>