<div class="main">
    <img src="./assets/news/test_background.jpg" alt="">
    <div class="main-container">
        <div class="left-container">
            <div class="news-item" style="grid-area: row1;">
                <img src="./assets/news/news-1.jpg" class="img-background" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text">The New York Times</div>
                    <div class="centered-text">Researchs show that there are possible ways to teach english with AI</div>
                </div>
            </div>
            <div class="news-item" style="grid-area: row2col1;">
                <img src="./assets/news/news-4.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">BBC News</div>
                    <div class="centered-text-small">Your text for row2col1</div>
                </div>
            </div>
            <div class="news-item" style="grid-area: row2col2;">
                <img src="./assets/news/news-5.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">New York Times</div>
                    <div class="centered-text-small">Your text for row2col2</div>
                </div>
            </div>
            <div class="news-item" style="grid-area: row3;">
                <img src="./assets/news/news-2.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text">The New York Times</div>
                    <div class="centered-text">Researchs show that there are possible ways to teach english with AI</div>
                </div>
            </div>
        </div>

        <div class="right-container">
            <div class="image-container" style="grid-area: row1col1;">
                <img src="./assets/news/news-7.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">New York Times</div>
                    <div class="centered-text-small">Your text for row1col1</div>
                </div>
            </div>
            <div class="image-container" style="grid-area: row1col2;">
                <img src="./assets/news/news-8.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">New York Times</div>
                    <div class="centered-text-small">Your text for row1col2</div>
                </div>
            </div>
            <div class="image-container" style="grid-area: row2;">
                <img src="./assets/news/news-6.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text">BBC News</div>
                    <div class="centered-text">Researchs show that there are possible ways to teach english with AI</div>
                </div>
            </div>
            
            <div class="image-container" style="grid-area: row3col1;">
                <img src="./assets/news/news-9.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">New York Times</div>
                    <div class="centered-text-small">Your text for row3col1</div>
                </div>
            </div>
            <div class="image-container" style="grid-area: row3col2;">
                <img src="./assets/news/news-10.jpg" alt="">
                <div class="image-text-overlay">
                    <div class="provider-text-small">New York Times</div>
                    <div class="centered-text-small">Your text for row3col2</div>
                </div>
            </div>
        </div>

    </div>
</div>